.stretch {
  height: 100%;
}
.item {
  display: flex;
  flex-direction: column;
}
.main {
  /* width: 50vw;
    height: 50vh; */
  position: relative;
  border: 1px solid #d3d3d3;
  height: 100%;
  width: 100%;
  color: '#000';
  display: flex;
  flex-direction: column;
  background-color: white;
  -webkit-transition: transform 1s color 0.4s;
  transition: transform 1s color 0.4s;
}

.main:hover {
  border-color: #ffce2a;
  transform: translateY(-10px);
  color: #ffce2a;
}

.bannerImg {
  width: 100%;
  height: 100%;
  position: relative !important;
  object-fit: cover;
}
.bannerText {
  margin-left: auto;
  margin-right: auto;
  left: 0%;
  right: 0%;
  text-align: center;
  padding-bottom: 10px;
}
