/* .content {
    background-Color: theme.palette.background.default,
  }, */
.media {
  width: 100%;
  height: auto;
}
.sectionTitle {
  font-weight: 900;
  border-bottom: thick solid #6a2c70;
  padding-bottom: 3px;
  margin-bottom: 40px;
}
.stretch {
  height: 100%;
}
.item {
  display: flex;
  flex-direction: column;
}
